{% extends 'layout.html' %}
{% load static %}


{% block title %} Clientes {% endblock %}

{% block content %}
    
    <div class="nuestro-clientes">
        <h1 class="title">Nuestros Clientes</h1>
        <div class="cliente-imagen1">
            <img src="{% static 'images/iconos/cliente1.webp' %}" alt="">
            <p>Como compañía farmacéutica basada en la ciencia, contamos con 
                una larga trayectoria llevando tratamientos innovadores y 
                tecnología de vanguardia a pacientes de todo el mundo. Nuestro 
                propósito es mejorar vidas, la innovación es nuestra pasión. 
                Centramos todas nuestras actividades y esfuerzos en alcanzar 
                nuestra visión de Un Mundo Sin Dolor.
                <br>
                <a href="https://www.grunenthal.cl/">Grünenthal</a></p>
            
        </div>
        <div class="cliente-imagen2">
            <p>SAVAL se encuentra comprometido con las actividades de los 
                programas de Mejoramiento Continuo, Calidad Total y la Manufactura 
                de Clase Mundial. Buenas Prácticas.
                <br>
                <a href="https://www.savalcorp.com/es">Saval</a></p>
            
            <img src="{% static 'images/iconos/cliente2.webp' %}" alt="">
            
        </div>
        <div class="cliente-imagen1">
            <img src="{% static 'images/iconos/cliente3.webp' %}" alt="">
            <p>Laboratorio Chile | Teva, líder en la industria farmacéutica 
                chilena, con medicamentos y productos para la salud de toda la familia.
            <br>
            <a href="https://www.laboratoriochile.cl/">Laboratorio Chile</a></p>
        </div>
        <div class="cliente-imagen2">
            <p>Cuida la salud de tu bebé — Con Laboratorio Chile accede a un diagnóstico 
                adecuado para un tratamiento preventivo. En Laboratorio Chile nos 
                preocupamos de la salud del miembro más joven de tu familia.
                <br>
                <a href="https://www.laboratoriochile.cl/">Teva</a></p>
            <img src="{% static 'images/iconos/cliente4.webp' %}" alt="">
        </div>
        <div class="cliente-imagen1">
            <img src="{% static 'images/iconos/cliente5.webp' %}" alt="">
            <p>Fabricacion de productos farmaceuticos, sustancias quimicas medicinales.</p>
            <br>
            <!--<a href="https://www.laboratoriochile.cl/">Laboratorio Chile</a></p>-->
        </div>
        <div class="cliente-imagen2">
            <p>Presentes en Chile, desde el año 2000 con una pequeña afiliada, 
                definió a Latino América como un continente para crecer. Es así 
                que el 13 de Mayo de 2009, adquirió el 100% del accionariado de 
                Labomed, una empresa consolidada para crecer desde allí en Latino 
                América y fusionó ambas Compañías.
                <br>
                <a href="https://itf-labomed.cl/">ITF-Labomed</a></p>
            <img src="{% static 'images/iconos/cliente6.webp' %}" alt="">
        </div>
        <div class="cliente-imagen1">
            <img src="{% static 'images/iconos/cliente7.webp' %}" alt="">
            <p>En Abbott estamos comprometidos a ayudar a las personas a Vivir 
                la Vida al Máximo. Aprovechando el poder de la salud para nutrir, 
                celebrar y cumplir la promesa del potencial humano juntos.
            <br>
            <a href="https://www.medicine.abbott/cl/index.html">Abbott</a></p>
        </div>
        
        
        
        
        
        
        

    </div>

{% endblock %}