
{% extends 'layout.html' %}
{% load humanize %}
{% load custom_filters %}
{% block title %} Axon {% endblock %}

{% block content %}
<h2>Ingrese sus datos de envío</h2>
<div class="formulario-orden">
    <form method="POST" action="{% url 'realizar_pedido' %}">
        {% csrf_token %}
        <label for="nombre_cliente">Nombre:</label>
        <input type="text" id="nombre_cliente" name="nombre_cliente" required>
    
        <label for="email_cliente">Correo electrónico:</label>
        <input type="email" id="email_cliente" name="email_cliente" required>
    
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" required>
    
        <label for="codigo_postal">Código Postal:</label>
        <input type="text" id="codigo_postal" name="codigo_postal" required>
    
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" required>
        <!--esto es nuevo para enviar un comentario-->
        <label for="comentarios">Comentarios:</label>
        <textarea id="comentarios" name="comentarios" rows="4" placeholder="Escribe aquí tus instrucciones o comentarios"></textarea>
    
        <button type="submit" class="btn btn-primary">Realizar Orden</button>
    </form>
</div>

{% endblock %}


